* {
    margin: 0;
    padding: 0;
}

:root {
    /*COLORS*/
    --dark-red: #990024;
    --light-red: #E50036;
    --white: #FCFCFC;
    --green: #47734E;
    --light-grey: #DDDDDD;
    --dark-grey: #333333;

    /*FONTS*/
    --mobile-h1: bold 40px "arial";
    --mobile-h2: bold 40px "arial";
    --mobile-h3: bold 30px "arial";

    --mobile-paragraph: 15px "arial";
    --mobile-disclaimer: 15px "arial";
    --mobile-footer: bold 20px "arial";
    --mobile-button-main: 18px "arial";
    --mobile-button-disclaimer: 12px "arial";

    --tablet-disclaimer: 25px "arial";

    --desktop-disclaimer: 30px "arial";

    --tablet-button-main: bold 30px "arial";
    --tablet-button-disclaimer: bold 25px "arial";

    /*PADDING*/
    --mobile-padding-button-main: 14px 40px;
    --tablet-padding-button-main: 27px 106px;
    --mobile-padding-button-disclaimer: 10px 20px;
    --tablet-padding-button-disclaimer: 23px 38px;

    --mobile-padding-cookies: 14px;
    --tablet-padding-cookies: 34px;

}

li {
    list-style-type: none;
}

/*-----------BUTTONS-----------*/
button {
    border: none;
    padding: var(--mobile-padding-button-main);
    border-radius: 10px;
    font: var(--mobile-button-main);
    cursor: pointer;
}
.button-main {
    background-color: var(--light-red);
    color: var(--white);
}
.button-main:hover {
    background-color: var(--dark-red);
}
.button-secondary {
    color: var(--dark-grey);
    background-color: var(--light-grey);
    border: solid 1px #B9B9B9;
}
.button-secondary:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}
.button-disclaimer {
    font: var(--mobile-button-disclaimer);
    padding: var(--mobile-padding-button-disclaimer);
    margin-right: 14px;
    margin-top: 14px;
}
@media screen and (min-width: 1024px) {
    button {
        font: var(--tablet-button-main);
        padding: var(--tablet-padding-button-main);
    }
    .button-disclaimer {
        font: var(--tablet-button-disclaimer);
        padding: var(--tablet-padding-button-disclaimer);
        margin-right: 33px;
        margin-top: 39px;
    }
}

/*-----------COOKIES-----------*/
.cookie-disclaimer {
    background-color: var(--dark-grey);
    color: var(--white);
    padding: var(--mobile-padding-cookies);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.cookie-text {
    font: var(--mobile-disclaimer);
}
.more-info {
    cursor: pointer;
}

.more-info:hover {
    color: var(--light-red);
}
@media screen and (min-width: 1024px) {
    .cookie-disclaimer {
        padding: var(--tablet-padding-cookies);
    }
    .cookie-text {
        font: var(--tablet-disclaimer);
    }
    .second-cookie-line {
        display: block;
    }
}
@media screen and (min-width: 1920px) {
    .cookie-text {
        font: var(--desktop-disclaimer);
    }
    .cookie-disclaimer {
        flex-direction: row;
    }
}

/*FOOTER*/
footer {
    background-color: var(--dark-grey);
    font: var(--mobile-footer);
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    width: 124px;
    order: 2;
    margin: 50px 0;
}
.footer-text-wrapper {
    order: 1;
}
.footer-nav {
    margin-top: 71px;
}
.footer-nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.social-media-wrapper {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 40px;
}
.social-media {
    height: 34px;
}

@media screen and (min-width: 740px) {
    .footer-nav {
        width: 732px;
        margin-top: 90px;
    }
    .footer-nav-ul {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 61px;
        justify-content: center;
    }
    .social-media-wrapper {
        gap: 38px;
        margin-top: 60px;
    }
    .social-media {
        width: 56px;
        height: auto;
    }
    .footer-logo {
        width: 324px;
        margin-top: 95px;
        margin-bottom: 67px;
    }
}

@media screen and (min-width: 1080px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-text-wrapper {
        order: 2;
    }
    .footer-logo {
        order: 1;
        margin: 200px 0;
    }
}